*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(177, 163, 144, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    background-color: rgb(255, 255, 4);
    padding: 1rem 2rem;
    border-radius: .75rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

header{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    padding: 1rem 2rem;
    padding-left: 3rem;
    margin-bottom: rem;
}

.h-link{
    text-decoration: none;
    font-weight: 600;
}

.logo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.253);
    color: yellow;
    padding: 1rem;
    border-radius: 1rem;
}

 #header-nav{
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

#menu{
    display: none;
}

h2{
    font-size: 2.5rem;
    font-weight: 700;
}

h3{
    font-size: 2rem;
    font-weight: 600;
}

p{
    font-size: 1rem;
}

.hero{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 85vh;
    width: 100%;
    padding: 4rem 2rem;

    background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/heronew.png.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    overflow: hidden;
}

h1{
    font-size: 3.5rem;
    font-weight: 700;
    color: white;
    width: 40vw;
    position: relative;
    left:5rem ;
   
}


.hero-p{
    font-size: 2rem;
    color: white;
    width: 55%;
    position: relative;
    left: 9.6rem;
}

.hero-buttons{
    display: flex;
    align-items: center;
    gap: 3.5rem;
    width: 40%;
    position: relative;
    left:4rem ;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    width: 300px;
    height:400px ;
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.253) ;
    padding: 2rem 3rem;
    border-radius: 1rem;
}

img{
    width: 100%;
    max-width: 210px;
    height: 210px;
    object-fit:cover;
    border-radius: 1rem;
    transition: transform .3s ease; 
}

.about-us img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin:0 1rem;
}

.card img:hover {
    transform:scale(1.1)
}



.wcu{
    display: flex;
    flex-direction: column;
    margin: 6rem auto;
}

.wcu1{
    display: flex;
    align-self: center;
    margin-bottom: 3.5rem;
}

.card-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}


.about-us{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.company-story {
    padding-left: 2rem;
    padding-top: 0.5rem;
   max-width: 60ch;
   object-fit: cover;
   line-height: 1.6;
}

button:hover{
    background-color: black;
    color: white;
}


@media (max-width:768px)
{
    h1{
        font-size: 2.8rem;
    }
    
    .hero-p{
        font-size: 1.3rem;

    }

    header{
        position: relative;
    }

    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button{
        padding: 0.5rem 1rem;
        font-size: .75rem;
    }

    .image img{
        width: 100%;
    }

    #header-nav{
    display: none;
    position:absolute;
    top: 100%;
    right: 2rem;
    flex-direction: column;
    background-color: white;
    padding: 2rem 1rem;
    z-index: 7;
    border-radius: 1rem;
}

#header-nav.open{
    display: flex;}

    #menu{
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
}
}

.services h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5rem;
}

#card-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 2.3rem;
}

.services{
    display: flex;
    flex-direction: column;
    margin: 6rem auto;
}

.gallery h2{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.images{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 2.4rem;
    
}

.gallery{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
     background-color:lightgray ;
     padding: 4rem;
     border-radius: 2rem;
}

.testimonials H2{
    display: flex;
    justify-content: center;
    margin-bottom: 3.2REM;
}

.testimonials{
    margin: 6rem 0;
}

.t-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 2rem;
}

.t-card .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 220px;
    padding: 2rem ;
}

.t-card .star{
    color: yellow;
    font-weight: 500;
    font-size: 2rem;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    margin-bottom: 5rem;
}

footer{
    background-color: lightgrey;
    height: fit-content;
}